In [123]:
import pandas as pd
import numpy as np

In [124]:
!pwd

/home/jupyter/Desktop/jupyter

In [125]:
df=pd.read_csv('assignment_python.csv')
df

,IDCUSTOMER,GENDER,CITY,COUNTRY,FIRST_DEPOSIT_AMOUNT,REGISTRATION_DATE,DEPOSIT_DATE
0,5075649,M,ankara,Turkey,100.0,2009-01-10,2022-06-05
1,5176235,M,elazığ,Turkey,400.0,2009-03-01,2022-02-11
2,5249140,M,izmir,Turkey,200.0,2009-04-06,2022-05-02
3,5300998,M,Üsküdar,Turkey,100.0,2009-05-02,2022-02-11
4,5371454,M,sakarya,Turkey,880.0,2009-06-07,2022-05-29
...,...,...,...,...,...,...,...
22060,147844121,M,İstanbul,Turkey,50.0,2022-08-31,2022-08-31
22061,147844491,M,Eskişehir,Turkey,50.0,2022-08-31,2022-08-31
22062,147846481,M,Van,Turkey,100.0,2022-08-31,2022-08-31
22063,147843561,M,Antalya,Turkey,200.0,2022-08-31,2022-08-31
22064,147844971,M,İstanbul,Turkey,150.0,2022-08-31,2022-08-31

In [126]:
len(df['IDCUSTOMER'].unique())

22065

In [72]:
from datetime import datetime as dt

In [117]:
active_days=(pd.to_datetime(df['DEPOSIT_DATE'])-pd.to_datetime(dt.now())).dt.days
active_days

0       -142
1       -256
2       -176
3       -256
4       -149
        ...
22060    -55
22061    -55
22062    -55
22063    -55
22064    -55
Name: DEPOSIT_DATE, Length: 22065, dtype: int64

In [128]:
df.insert(7,'Active_DAYS',active_days)

In [129]:
df

,IDCUSTOMER,GENDER,CITY,COUNTRY,FIRST_DEPOSIT_AMOUNT,REGISTRATION_DATE,DEPOSIT_DATE,Active_DAYS
0,5075649,M,ankara,Turkey,100.0,2009-01-10,2022-06-05,-142
1,5176235,M,elazığ,Turkey,400.0,2009-03-01,2022-02-11,-256
2,5249140,M,izmir,Turkey,200.0,2009-04-06,2022-05-02,-176
3,5300998,M,Üsküdar,Turkey,100.0,2009-05-02,2022-02-11,-256
4,5371454,M,sakarya,Turkey,880.0,2009-06-07,2022-05-29,-149
...,...,...,...,...,...,...,...,...
22060,147844121,M,İstanbul,Turkey,50.0,2022-08-31,2022-08-31,-55
22061,147844491,M,Eskişehir,Turkey,50.0,2022-08-31,2022-08-31,-55
22062,147846481,M,Van,Turkey,100.0,2022-08-31,2022-08-31,-55
22063,147843561,M,Antalya,Turkey,200.0,2022-08-31,2022-08-31,-55
22064,147844971,M,İstanbul,Turkey,150.0,2022-08-31,2022-08-31,-55

In [116]:
(pd.to_datetime(df['DEPOSIT_DATE'])-pd.to_datetime(dt.now())).dt.days

0       -142
1       -256
2       -176
3       -256
4       -149
        ...
22060    -55
22061    -55
22062    -55
22063    -55
22064    -55
Name: DEPOSIT_DATE, Length: 22065, dtype: int64

In [108]:
dz=dt.now()

In [109]:
dz.date()

datetime.date(2022, 10, 24)

In [111]:
pd.to_datetime(dz)

Timestamp('2022-10-24 03:51:29.988955')