In [2]:
!pip3 install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 3.0 kB/s eta 0:00:012  |▏                               | 1.7 MB 923 kB/s eta 0:05:03     |█▎                              | 10.8 MB 3.0 MB/s eta 0:01:29     |██▉                             | 25.3 MB 7.5 MB/s eta 0:00:35     |███                             | 25.9 MB 7.5 MB/s eta 0:00:34     |███                             | 26.4 MB 7.5 MB/s eta 0:00:34     |███▍                            | 29.6 MB 6.1 MB/s eta 0:00:42     |████▋                           | 40.7 MB 4.2 MB/s eta 0:00:58     |█████▎                          | 46.9 MB 5.6 MB/s eta 0:00:42     |█████▊                          | 50.2 MB 5.6 MB/s eta 0:00:42     |██████▏                         | 54.5 MB 7.7 MB/s eta 0:00:30     |██████▌                         | 57.6 MB 5.2 MB/s eta 0:00:43     |██████▉                         | 59.9 MB 5.2 MB/s eta 0:00:43     |████████                        | 69.9 MB 5.0 MB/s eta 0:00:43     |████████▏                       | 71.8 MB 5.0 MB/s eta 0:00:42     |████████▍                       | 73.5 MB 5.0 MB/s eta 0:00:42     |█████████                       | 78.5 MB 5.0 MB/s eta 0:00:41 MB 6.6 MB/s eta 0:00:30     |█████████▌                      | 83.6 MB 6.6 MB/s eta 0:00:30     |██████████▌                     | 91.9 MB 3.5 MB/s eta 0:00:54     |███████████▊                    | 102.9 MB 13.3 MB/s eta 0:00:14     |████████████▌                   | 110.0 MB 6.3 MB/s eta 0:00:28     |████████████▋                   | 110.9 MB 6.3 MB/s eta 0:00:28     |██████████████▉                 | 130.5 MB 5.3 MB/s eta 0:00:29     |████████████████▏               | 142.1 MB 4.5 MB/s eta 0:00:32     |████████████████▍               | 144.5 MB 4.5 MB/s eta 0:00:31     |████████████████▊               | 147.0 MB 5.7 MB/s eta 0:00:24     |█████████████████▍              | 153.3 MB 5.7 MB/s eta 0:00:23     |█████████████████▊              | 155.6 MB 4.4 MB/s eta 0:00:29     |█████████████████▉              | 156.7 MB 4.4 MB/s eta 0:00:29     |██████████████████▏             | 159.6 MB 4.4 MB/s eta 0:00:28     |██████████████████▍             | 162.0 MB 4.3 MB/s eta 0:00:29     |██████████████████▌             | 163.1 MB 4.3 MB/s eta 0:00:28     |██████████████████▉             | 165.9 MB 4.0 MB/s eta 0:00:29     |███████████████████             | 167.4 MB 3.5 MB/s eta 0:00:33     |███████████████████▊            | 173.7 MB 4.1 MB/s eta 0:00:27     |████████████████████▎           | 178.2 MB 4.3 MB/s eta 0:00:25     |████████████████████▌           | 180.5 MB 4.0 MB/s eta 0:00:26     |████████████████████▋           | 180.8 MB 4.0 MB/s eta 0:00:25     |████████████████████▋           | 181.2 MB 4.0 MB/s eta 0:00:25     |█████████████████████           | 184.6 MB 5.4 MB/s eta 0:00:19     |█████████████████████▏          | 186.2 MB 5.4 MB/s eta 0:00:18     |█████████████████████▌          | 189.3 MB 4.6 MB/s eta 0:00:21     |██████████████████████▎         | 195.7 MB 4.0 MB/s eta 0:00:22     |██████████████████████▉         | 201.0 MB 6.7 MB/s eta 0:00:13     |███████████████████████▌        | 206.5 MB 7.5 MB/s eta 0:00:10     |███████████████████████▌        | 206.8 MB 7.5 MB/s eta 0:00:10     |███████████████████████▉        | 209.3 MB 7.5 MB/s eta 0:00:10     |████████████████████████        | 210.4 MB 6.2 MB/s eta 0:00:12     |████████████████████████        | 210.8 MB 6.2 MB/s eta 0:00:12     |████████████████████████        | 211.5 MB 6.2 MB/s eta 0:00:12     |████████████████████████        | 211.8 MB 6.2 MB/s eta 0:00:12     |████████████████████████▋       | 216.3 MB 3.2 MB/s eta 0:00:21     |█████████████████████████▌      | 224.7 MB 3.8 MB/s eta 0:00:16     |█████████████████████████▉      | 227.6 MB 3.8 MB/s eta 0:00:15     |██████████████████████████      | 228.5 MB 3.8 MB/s eta 0:00:15     |██████████████████████████▎     | 231.2 MB 4.9 MB/s eta 0:00:11     |██████████████████████████▎     | 231.5 MB 4.9 MB/s eta 0:00:11     |██████████████████████████▍     | 231.9 MB 4.9 MB/s eta 0:00:11     |██████████████████████████▌     | 233.1 MB 4.9 MB/s eta 0:00:10     |██████████████████████████▋     | 233.6 MB 5.7 MB/s eta 0:00:09     |███████████████████████████▌    | 241.4 MB 3.0 MB/s eta 0:00:14     |████████████████████████████    | 246.3 MB 3.6 MB/s eta 0:00:10     |████████████████████████████▊   | 252.9 MB 4.3 MB/s eta 0:00:07     |█████████████████████████████▎  | 257.1 MB 4.1 MB/s eta 0:00:06     |██████████████████████████████▍ | 266.8 MB 4.5 MB/s eta 0:00:04     |██████████████████████████████▍ | 267.5 MB 4.5 MB/s eta 0:00:04     |██████████████████████████████▊ | 269.8 MB 4.5 MB/s eta 0:00:03
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 4.9 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845510 sha256=b99586cb90066ffcd86d01afb9afee2b6133d16b546278a31a7a4b7cda0705b5
  Stored in directory: /home/jupyter/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
import pyspark
import pandas as pd
pd.read_csv('file.csv')

            Email          Sub            body        Date   time
0   abc@gmail.com  Book Return  return of book  19/12/2022  15:24
1  clcm@gmail.com  Book Refund  refund of Book  19/12/2022  15:25

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark import SparkConf, SparkContext
sc = SparkContext(conf=SparkConf().setAppName("MyApp").setMaster("local"))

22/12/25 15:55:00 WARN Utils: Your hostname, jupyter-VirtualBox resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface enp0s3)
22/12/25 15:55:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/25 15:55:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [14]:
dfs=spark.read.csv('file.csv')

In [16]:
dfs.show()

+--------------+-----------+--------------+----------+-----+
|           _c0|        _c1|           _c2|       _c3|  _c4|
+--------------+-----------+--------------+----------+-----+
|         Email|        Sub|          body|      Date| time|
| abc@gmail.com|Book Return|return of book|19/12/2022|15:24|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|15:25|
+--------------+-----------+--------------+----------+-----+

In [24]:
dfs2=spark.read.option('header','true').csv('file.csv')
dfs2.show()

+--------------+-----------+--------------+----------+-----+
|         Email|        Sub|          body|      Date| time|
+--------------+-----------+--------------+----------+-----+
| abc@gmail.com|Book Return|return of book|19/12/2022|15:24|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|15:25|
+--------------+-----------+--------------+----------+-----+

In [25]:
dfs2.printSchema()          #all columns are strings as spark read as sting

root
 |-- Email: string (nullable = true)
 |-- Sub: string (nullable = true)
 |-- body: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- time: string (nullable = true)

In [26]:
dfs3=spark.read.csv('file.csv',header=True,inferSchema=True)
dfs3.show()

+--------------+-----------+--------------+----------+-------------------+
|         Email|        Sub|          body|      Date|               time|
+--------------+-----------+--------------+----------+-------------------+
| abc@gmail.com|Book Return|return of book|19/12/2022|2022-12-23 15:24:00|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|2022-12-23 15:25:00|
+--------------+-----------+--------------+----------+-------------------+

In [27]:
dfs3.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Sub: string (nullable = true)
 |-- body: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- time: timestamp (nullable = true)

In [28]:
type(dfs3)        #dataframe is a kind of data structure

pyspark.sql.dataframe.DataFrame

In [29]:
dfs3.columns

['Email', 'Sub', 'body', 'Date', 'time']

In [30]:
dfs3.head()

Row(Email='abc@gmail.com', Sub='Book Return', body='return of book', Date='19/12/2022', time=datetime.datetime(2022, 12, 23, 15, 24))

In [32]:
dfs3.select('Sub').show()

+-----------+
|        Sub|
+-----------+
|Book Return|
|Book Refund|
+-----------+

In [33]:
dfs3.select(['Email','Sub']).show()

+--------------+-----------+
|         Email|        Sub|
+--------------+-----------+
| abc@gmail.com|Book Return|
|clcm@gmail.com|Book Refund|
+--------------+-----------+

In [35]:
dfs3.describe().show()

+-------+--------------+-----------+--------------+----------+
|summary|         Email|        Sub|          body|      Date|
+-------+--------------+-----------+--------------+----------+
|  count|             2|          2|             2|         2|
|   mean|          null|       null|          null|      null|
| stddev|          null|       null|          null|      null|
|    min| abc@gmail.com|Book Refund|refund of Book|19/12/2022|
|    max|clcm@gmail.com|Book Return|return of book|19/12/2022|
+-------+--------------+-----------+--------------+----------+

In [38]:
dfs3.withColumn('New_col',dfs3['Email']+'aa').show()  #have to save to another var for permanent

+--------------+-----------+--------------+----------+-------------------+-------+
|         Email|        Sub|          body|      Date|               time|New_col|
+--------------+-----------+--------------+----------+-------------------+-------+
| abc@gmail.com|Book Return|return of book|19/12/2022|2022-12-23 15:24:00|   null|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|2022-12-23 15:25:00|   null|
+--------------+-----------+--------------+----------+-------------------+-------+

In [39]:
dfs3.dtypes

[('Email', 'string'),
 ('Sub', 'string'),
 ('body', 'string'),
 ('Date', 'string'),
 ('time', 'timestamp')]

In [40]:
dfs4=dfs3.withColumn('New_col',dfs3['Email']+'aa').show()

+--------------+-----------+--------------+----------+-------------------+-------+
|         Email|        Sub|          body|      Date|               time|New_col|
+--------------+-----------+--------------+----------+-------------------+-------+
| abc@gmail.com|Book Return|return of book|19/12/2022|2022-12-23 15:24:00|   null|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|2022-12-23 15:25:00|   null|
+--------------+-----------+--------------+----------+-------------------+-------+

In [ ]:
##Drop columns

In [45]:
dfs4=dfs3.drop('New_col')

In [46]:
dfs4.show()

+--------------+-----------+--------------+----------+-------------------+
|         Email|        Sub|          body|      Date|               time|
+--------------+-----------+--------------+----------+-------------------+
| abc@gmail.com|Book Return|return of book|19/12/2022|2022-12-23 15:24:00|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|2022-12-23 15:25:00|
+--------------+-----------+--------------+----------+-------------------+

In [47]:
#Rename

In [49]:
dfs4.withColumnRenamed('body','Mail_Body').show()

+--------------+-----------+--------------+----------+-------------------+
|         Email|        Sub|     Mail_Body|      Date|               time|
+--------------+-----------+--------------+----------+-------------------+
| abc@gmail.com|Book Return|return of book|19/12/2022|2022-12-23 15:24:00|
|clcm@gmail.com|Book Refund|refund of Book|19/12/2022|2022-12-23 15:25:00|
+--------------+-----------+--------------+----------+-------------------+

In [57]:
!ls

 assgnmnt24-10.ipynb		      dstest.csv      lmnm
 assignment_python.csv		      eml_ato.ipynb   sample4.csv
'Assignment - Python - Final.ipynb'   file.csv	      spark.ipynb
 auto.ipynb			      file.xlsx       testfile.ipynb

In [6]:
x=spark.read.csv('dstest.csv',header=True,inferSchema=True)

In [7]:
x.show()

+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|IDCUSTOMER|GENDER|                CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|   5075649|     M|              ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|
|   5176235|     M|              elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|
|   5249140|     M|               izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|
|   5300998|     M|             Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|
|   5371454|     M|             sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|
|   5636637|     M|              ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|
|   5670349|     M|       hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|
|   5731391|     M|            İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|
|   5769004|     M|             antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|
|   5840612|     M|      tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|
|   5871190|     M|    istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|
|   5928887|     M|               milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|
|   5956458|     M|           eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|
|   6089455|     M|       Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|
|   6308160|     M|KIRKLARELİ LULEBU...| Turkey|                50.0|2010-09-01 00:00:00|2022-02-01 00:00:00|
|   6312643|     M|               Hatay| Turkey|              1500.0|2010-09-04 00:00:00|2022-03-17 00:00:00|
|   6314492|     M|              Mersin| Turkey|               100.0|2010-09-05 00:00:00|2022-06-11 00:00:00|
|   6461258|     M|              yalova| Turkey|               250.0|2010-11-08 00:00:00|2022-04-09 00:00:00|
|   6534795|     M|      SAKARYA AKYAZI| Turkey|               100.0|2010-12-15 00:00:00|2022-04-24 00:00:00|
|   6539001|     M|     İstinye Sarıyer| Turkey|                70.0|2010-12-18 00:00:00|2022-02-11 00:00:00|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [122]:
x.dtypes

[('IDCUSTOMER', 'int'),
 ('GENDER', 'string'),
 ('CITY', 'string'),
 ('COUNTRY', 'string'),
 ('FIRST_DEPOSIT_AMOUNT', 'double'),
 ('REGISTRATION_DATE', 'timestamp'),
 ('DEPOSIT_DATE', 'timestamp')]

In [ ]:
# drop values, how = any or all
# any - if any column has null that row will be dropped
# all - all column should be null for row to be dropped
# threshold - what values you give, ex- 2, then if 2 columns hv null then column drop

In [8]:
x.na.drop(how='all').show()

+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|IDCUSTOMER|GENDER|                CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|   5075649|     M|              ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|
|   5176235|     M|              elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|
|   5249140|     M|               izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|
|   5300998|     M|             Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|
|   5371454|     M|             sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|
|   5636637|     M|              ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|
|   5670349|     M|       hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|
|   5731391|     M|            İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|
|   5769004|     M|             antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|
|   5840612|     M|      tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|
|   5871190|     M|    istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|
|   5928887|     M|               milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|
|   5956458|     M|           eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|
|   6089455|     M|       Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|
|   6308160|     M|KIRKLARELİ LULEBU...| Turkey|                50.0|2010-09-01 00:00:00|2022-02-01 00:00:00|
|   6312643|     M|               Hatay| Turkey|              1500.0|2010-09-04 00:00:00|2022-03-17 00:00:00|
|   6314492|     M|              Mersin| Turkey|               100.0|2010-09-05 00:00:00|2022-06-11 00:00:00|
|   6461258|     M|              yalova| Turkey|               250.0|2010-11-08 00:00:00|2022-04-09 00:00:00|
|   6534795|     M|      SAKARYA AKYAZI| Turkey|               100.0|2010-12-15 00:00:00|2022-04-24 00:00:00|
|   6539001|     M|     İstinye Sarıyer| Turkey|                70.0|2010-12-18 00:00:00|2022-02-11 00:00:00|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [9]:
x.na.drop(how='any',thresh=3).show()

+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|IDCUSTOMER|GENDER|                CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|   5075649|     M|              ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|
|   5176235|     M|              elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|
|   5249140|     M|               izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|
|   5300998|     M|             Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|
|   5371454|     M|             sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|
|   5636637|     M|              ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|
|   5670349|     M|       hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|
|   5731391|     M|            İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|
|   5769004|     M|             antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|
|   5840612|     M|      tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|
|   5871190|     M|    istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|
|   5928887|     M|               milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|
|   5956458|     M|           eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|
|   6089455|     M|       Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|
|   6308160|     M|KIRKLARELİ LULEBU...| Turkey|                50.0|2010-09-01 00:00:00|2022-02-01 00:00:00|
|   6312643|     M|               Hatay| Turkey|              1500.0|2010-09-04 00:00:00|2022-03-17 00:00:00|
|   6314492|     M|              Mersin| Turkey|               100.0|2010-09-05 00:00:00|2022-06-11 00:00:00|
|   6461258|     M|              yalova| Turkey|               250.0|2010-11-08 00:00:00|2022-04-09 00:00:00|
|   6534795|     M|      SAKARYA AKYAZI| Turkey|               100.0|2010-12-15 00:00:00|2022-04-24 00:00:00|
|   6539001|     M|     İstinye Sarıyer| Turkey|                70.0|2010-12-18 00:00:00|2022-02-11 00:00:00|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [64]:
#subset- specifies column for whic if null value is there that row drops

In [65]:
x.na.drop(how='any',subset=['CITY']).show()

+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|IDCUSTOMER|GENDER|                CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
|   5075649|     M|              ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|
|   5176235|     M|              elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|
|   5249140|     M|               izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|
|   5300998|     M|             Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|
|   5371454|     M|             sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|
|   5636637|     M|              ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|
|   5670349|     M|       hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|
|   5731391|     M|            İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|
|   5769004|     M|             antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|
|   5840612|     M|      tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|
|   5871190|     M|    istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|
|   5928887|     M|               milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|
|   5956458|     M|           eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|
|   6089455|     M|       Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|
|   6308160|     M|KIRKLARELİ LULEBU...| Turkey|                50.0|2010-09-01 00:00:00|2022-02-01 00:00:00|
|   6312643|     M|               Hatay| Turkey|              1500.0|2010-09-04 00:00:00|2022-03-17 00:00:00|
|   6314492|     M|              Mersin| Turkey|               100.0|2010-09-05 00:00:00|2022-06-11 00:00:00|
|   6461258|     M|              yalova| Turkey|               250.0|2010-11-08 00:00:00|2022-04-09 00:00:00|
|   6534795|     M|      SAKARYA AKYAZI| Turkey|               100.0|2010-12-15 00:00:00|2022-04-24 00:00:00|
|   6539001|     M|     İstinye Sarıyer| Turkey|                70.0|2010-12-18 00:00:00|2022-02-11 00:00:00|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [70]:
x.na.fill('bhaijan').show(5)

+----------+------+-------+-------+--------------------+-----------------+------------+
|IDCUSTOMER|GENDER|   CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|REGISTRATION_DATE|DEPOSIT_DATE|
+----------+------+-------+-------+--------------------+-----------------+------------+
|   5075649|     M| ankara| Turkey|               100.0|       2009-01...|  2022-06...|
|   5176235|     M| elazığ| Turkey|               400.0|       2009-03...|  2022-02...|
|   5249140|     M|  izmir| Turkey|               200.0|       2009-04...|  2022-05...|
|   5300998|     M|Üsküdar| Turkey|               100.0|       2009-05...|  2022-02...|
|   5371454|     M|sakarya| Turkey|               880.0|       2009-06...|  2022-05...|
+----------+------+-------+-------+--------------------+-----------------+------------+
only showing top 5 rows

In [71]:
from pyspark.ml.feature import Imputer

In [80]:
imputer = Imputer(inputCols=['FIRST_DEPOSIT_AMOUNT'],
                  outputCols=[f"{c}_imputed" for c in ['FIRST_DEPOSIT_AMOUNT']]).setStrategy("mean")

In [81]:
imputer.fit(x).transform(x).show()

+----------+------+--------------------+-------+--------------------+-------------------+-------------------+----------------------------+
|IDCUSTOMER|GENDER|                CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|FIRST_DEPOSIT_AMOUNT_imputed|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+----------------------------+
|   5075649|     M|              ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|                       100.0|
|   5176235|     M|              elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|                       400.0|
|   5249140|     M|               izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|                       200.0|
|   5300998|     M|             Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|                       100.0|
|   5371454|     M|             sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|                       880.0|
|   5636637|     M|              ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|                       100.0|
|   5670349|     M|       hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|                        50.0|
|   5731391|     M|            İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|                        50.0|
|   5769004|     M|             antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|                       100.0|
|   5840612|     M|      tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|                        50.0|
|   5871190|     M|    istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|                        50.0|
|   5928887|     M|               milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|                       400.0|
|   5956458|     M|           eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|                        50.0|
|   6089455|     M|       Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|                        59.0|
|   6308160|     M|KIRKLARELİ LULEBU...| Turkey|                50.0|2010-09-01 00:00:00|2022-02-01 00:00:00|                        50.0|
|   6312643|     M|               Hatay| Turkey|              1500.0|2010-09-04 00:00:00|2022-03-17 00:00:00|                      1500.0|
|   6314492|     M|              Mersin| Turkey|               100.0|2010-09-05 00:00:00|2022-06-11 00:00:00|                       100.0|
|   6461258|     M|              yalova| Turkey|               250.0|2010-11-08 00:00:00|2022-04-09 00:00:00|                       250.0|
|   6534795|     M|      SAKARYA AKYAZI| Turkey|               100.0|2010-12-15 00:00:00|2022-04-24 00:00:00|                       100.0|
|   6539001|     M|     İstinye Sarıyer| Turkey|                70.0|2010-12-18 00:00:00|2022-02-11 00:00:00|                        70.0|
+----------+------+--------------------+-------+--------------------+-------------------+-------------------+----------------------------+
only showing top 20 rows

In [83]:
x[['IDCUSTOMER','GENDER']].show()

+----------+------+
|IDCUSTOMER|GENDER|
+----------+------+
|   5075649|     M|
|   5176235|     M|
|   5249140|     M|
|   5300998|     M|
|   5371454|     M|
|   5636637|     M|
|   5670349|     M|
|   5731391|     M|
|   5769004|     M|
|   5840612|     M|
|   5871190|     M|
|   5928887|     M|
|   5956458|     M|
|   6089455|     M|
|   6308160|     M|
|   6312643|     M|
|   6314492|     M|
|   6461258|     M|
|   6534795|     M|
|   6539001|     M|
+----------+------+
only showing top 20 rows

In [94]:
x[x['IDCUSTOMER']<=6089455].show()

+----------+------+----------------+-------+--------------------+-------------------+-------------------+
|IDCUSTOMER|GENDER|            CITY|COUNTRY|FIRST_DEPOSIT_AMOUNT|  REGISTRATION_DATE|       DEPOSIT_DATE|
+----------+------+----------------+-------+--------------------+-------------------+-------------------+
|   5075649|     M|          ankara| Turkey|               100.0|2009-01-10 00:00:00|2022-06-05 00:00:00|
|   5176235|     M|          elazığ| Turkey|               400.0|2009-03-01 00:00:00|2022-02-11 00:00:00|
|   5249140|     M|           izmir| Turkey|               200.0|2009-04-06 00:00:00|2022-05-02 00:00:00|
|   5300998|     M|         Üsküdar| Turkey|               100.0|2009-05-02 00:00:00|2022-02-11 00:00:00|
|   5371454|     M|         sakarya| Turkey|               880.0|2009-06-07 00:00:00|2022-05-29 00:00:00|
|   5636637|     M|          ANKARA| Turkey|               100.0|2009-10-29 00:00:00|2022-03-15 00:00:00|
|   5670349|     M|   hatay antakya| Turkey|                50.0|2009-11-10 00:00:00|2022-03-16 00:00:00|
|   5731391|     M|        İstanbul| Turkey|                50.0|2009-12-03 00:00:00|2022-03-08 00:00:00|
|   5769004|     M|         antalya| Turkey|               100.0|2009-12-17 00:00:00|2022-07-07 00:00:00|
|   5840612|     M|  tekirdağ çorlu| Turkey|                50.0|2010-01-17 00:00:00|2022-07-06 00:00:00|
|   5871190|     M|istanbul kadiköy| Turkey|                50.0|2010-01-29 00:00:00|2022-03-18 00:00:00|
|   5928887|     M|           milas| Turkey|               400.0|2010-02-20 00:00:00|2022-02-13 00:00:00|
|   5956458|     M|       eskısehır| Turkey|                50.0|2010-03-05 00:00:00|2022-02-17 00:00:00|
|   6089455|     M|   Kahramanmaraş| Turkey|                59.0|2010-05-20 00:00:00|2022-04-10 00:00:00|
+----------+------+----------------+-------+--------------------+-------------------+-------------------+

In [111]:
x[['IDCUSTOMER','GENDER']][x['IDCUSTOMER']<=6089455].show() #doesnt work if just one column is called

+----------+------+
|IDCUSTOMER|GENDER|
+----------+------+
|   5075649|     M|
|   5176235|     M|
|   5249140|     M|
|   5300998|     M|
|   5371454|     M|
|   5636637|     M|
|   5670349|     M|
|   5731391|     M|
|   5769004|     M|
|   5840612|     M|
|   5871190|     M|
|   5928887|     M|
|   5956458|     M|
|   6089455|     M|
+----------+------+

In [117]:
x[['IDCUSTOMER','GENDER']][x['IDCUSTOMER']<=6089455].show()

+----------+------+
|IDCUSTOMER|GENDER|
+----------+------+
|   5075649|     M|
|   5176235|     M|
|   5249140|     M|
|   5300998|     M|
|   5371454|     M|
|   5636637|     M|
|   5670349|     M|
|   5731391|     M|
|   5769004|     M|
|   5840612|     M|
|   5871190|     M|
|   5928887|     M|
|   5956458|     M|
|   6089455|     M|
+----------+------+

In [95]:
x.filter("FIRST_DEPOSIT_AMOUNT>100").select(['IDCUSTOMER','CITY']).show()

+----------+--------------------+
|IDCUSTOMER|                CITY|
+----------+--------------------+
|   5176235|              elazığ|
|   5249140|               izmir|
|   5371454|             sakarya|
|   5928887|               milas|
|   6312643|               Hatay|
|   6461258|              yalova|
|   6599145|               hatay|
|   6661675|      istanbul fatih|
|   8191413|              MERKEZ|
|   8197046|            bayraklı|
|   8200942|            istanbul|
|   6848572|        lara/antalya|
|   6934376|    istanbul maltepe|
|   8220454|            yıldırım|
|   7023006|                 van|
|   7059192|              EDİRNE|
|   7070064|   beşiktaş/istanbul|
|   7110950|            alsancak|
|   7115164|      konya selcuklu|
|   7134049|istanbul / zeytin...|
+----------+--------------------+
only showing top 20 rows

In [118]:
x[['IDCUSTOMER','GENDER']][x['IDCUSTOMER']<=6089455][x['CITY']=='İstanbul'].show()

+----------+------+
|IDCUSTOMER|GENDER|
+----------+------+
|   5731391|     M|
+----------+------+

In [13]:
x.filter(x["FIRST_DEPOSIT_AMOUNT"]>100).select(['IDCUSTOMER','CITY']).show()

+----------+--------------------+
|IDCUSTOMER|                CITY|
+----------+--------------------+
|   5176235|              elazığ|
|   5249140|               izmir|
|   5371454|             sakarya|
|   5928887|               milas|
|   6312643|               Hatay|
|   6461258|              yalova|
|   6599145|               hatay|
|   6661675|      istanbul fatih|
|   8191413|              MERKEZ|
|   8197046|            bayraklı|
|   8200942|            istanbul|
|   6848572|        lara/antalya|
|   6934376|    istanbul maltepe|
|   8220454|            yıldırım|
|   7023006|                 van|
|   7059192|              EDİRNE|
|   7070064|   beşiktaş/istanbul|
|   7110950|            alsancak|
|   7115164|      konya selcuklu|
|   7134049|istanbul / zeytin...|
+----------+--------------------+
only showing top 20 rows

In [14]:
x.filter(~(x['FIRST_DEPOSIT_AMOUNT']>100)).select(['IDCUSTOMER','CITY']).show()  # ~ is the inverse

+----------+--------------------+
|IDCUSTOMER|                CITY|
+----------+--------------------+
|   5075649|              ankara|
|   5300998|             Üsküdar|
|   5636637|              ANKARA|
|   5670349|       hatay antakya|
|   5731391|            İstanbul|
|   5769004|             antalya|
|   5840612|      tekirdağ çorlu|
|   5871190|    istanbul kadiköy|
|   5956458|           eskısehır|
|   6089455|       Kahramanmaraş|
|   6308160|KIRKLARELİ LULEBU...|
|   6314492|              Mersin|
|   6534795|      SAKARYA AKYAZI|
|   6539001|     İstinye Sarıyer|
|   6555481|        BÜYÜKÇEKMECE|
|   6612345|            İSTANBUL|
|   6656175|               konya|
|   6685691|              Ankara|
|   8203754|             kayseri|
|   8208829|              merkez|
+----------+--------------------+
only showing top 20 rows

In [15]:
x.filter((x["FIRST_DEPOSIT_AMOUNT"]>100) & (x["CITY"]=='İstanbul')).select(['IDCUSTOMER','CITY']).show()

+----------+--------+
|IDCUSTOMER|    CITY|
+----------+--------+
|   8900227|İstanbul|
|   9231918|İstanbul|
|   9679844|İstanbul|
|  10791031|İstanbul|
|  10895361|İstanbul|
|  11365602|İstanbul|
|  11383969|İstanbul|
|  11413367|İstanbul|
|  11432374|İstanbul|
|  11504490|İstanbul|
|  11686919|İstanbul|
|  12101310|İstanbul|
|  12211201|İstanbul|
|  12478942|İstanbul|
|  12496641|İstanbul|
|  12526253|İstanbul|
|  12723907|İstanbul|
|  12767022|İstanbul|
|  12828794|İstanbul|
|  12988189|İstanbul|
+----------+--------+
only showing top 20 rows

In [17]:
x.groupBy('CITY').count().show()

+-------------------+-----+
|               CITY|count|
+-------------------+-----+
|    İstinye Sarıyer|    1|
|      merkez/edirne|    1|
|  muratpaşa/antalya|    1|
|                van|    1|
|        mecidiyeköy|    1|
|         balıkkesir|    1|
|            Isparta|   89|
|     Gebze /KOCAELİ|    1|
|BAŞAKŞEHİR/İSTANBUL|    1|
|             Edirne|  136|
|   Sisli / Istanbul|    1|
|          Tekirdağ |    1|
|        KONYA/ILGIN|    1|
|     konya selcuklu|    1|
|             Burdur|   20|
|    malatya/temelli|    1|
|    altındağ Ankara|    1|
|                Muş|   33|
|            kocaeli|    1|
|              Adana|  676|
+-------------------+-----+
only showing top 20 rows

In [20]:
x.groupBy('CITY').max().show()         #sum(), mean(), max(), min()

+-------------------+---------------+-------------------------+
|               CITY|max(IDCUSTOMER)|max(FIRST_DEPOSIT_AMOUNT)|
+-------------------+---------------+-------------------------+
|    İstinye Sarıyer|        6539001|                     70.0|
|      merkez/edirne|        9409686|                     25.0|
|  muratpaşa/antalya|        9813635|                    100.0|
|                van|        7023006|                    150.0|
|        mecidiyeköy|        8241324|                    100.0|
|         balıkkesir|      146283811|                    200.0|
|            Isparta|      147826391|                   8000.0|
|     Gebze /KOCAELİ|      146980081|                    300.0|
|BAŞAKŞEHİR/İSTANBUL|        7632441|                     80.0|
|             Edirne|      147817571|                   5000.0|
|   Sisli / Istanbul|        7879926|                    300.0|
|          Tekirdağ |       10779101|                     30.0|
|        KONYA/ILGIN|       14229503|                    100.0|
|     konya selcuklu|        7115164|                    400.0|
|             Burdur|      147776311|                   2000.0|
|    malatya/temelli|        9589831|                    250.0|
|    altındağ Ankara|      146291811|                    250.0|
|                Muş|      147841421|                   1500.0|
|            kocaeli|        9733678|                     20.0|
|              Adana|      147846741|                 14572.49|
+-------------------+---------------+-------------------------+
only showing top 20 rows